@import url("https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans");

:root {
  --vertical-space: 2rem;
  --horizontal-space: 3rem;

  --light-color: ;
  --body-color: ;
  --heading-color: ;
  --constrast-color: ;
}

body {
  padding-left: 4em;
  font-size: 18px;
  line-height: 1.5em;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.06) 50%,
      rgba(255, 255, 255, 0.06) 50%,
      rgba(255, 255, 255, 0.06) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: 30px 30px;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: "Zilla Slab", serif;
  color: #000b1c;
}

header h1 {
  color: #000b1c;
}

body#about img {
  height: 15em;
  border-radius: 25px;
}

p {
  max-width: 50em;
}

body {
  display: grid;
  grid-template-areas:
    "head head"
    "nav nav"
    "main main"
    "foot foot";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 25em) {
  body {
    grid-template-areas:
      "head head"
      "nav main"
      "foot foot";
    grid-template-rows: auto 1fr auto;
  }
}

body > * {
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
}

body > header {
  grid-area: head;
  margin-right: 4rem;
  border-bottom: 2px solid #0b0019;
}
body > nav {
  grid-area: nav;
  /* border-bottom: 2px solid #41117a; */
}
body > nav ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 20px;
}
body a {
  color: #1d003d;
  text-decoration: underline;
  text-decoration-color: #130046;
}
body > nav li {
  margin-bottom: 10px;
}
body a:hover {
  color: #460046;
}
body > main {
  grid-area: main;
}

body > footer {
  grid-area: foot;
}

header,
footer {
  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);
}

header h1,
footer h1 {
  margin: 0;
}

body#portfolio ul#portfolioItems {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 25em) {
  body#portfolio ul#portfolioItems li {
    flex-basis: 50%;
    padding-right: 2%;
  }
}

body#portfolio ul#portfolioItems li img {
  max-width: 100%;
}
#rotating-item-wrapper {
  position: relative;
  width: 1000px;
  height: 350px;
}
.rotating-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}